</div id="product-list">
<h1> Welcome to Plue's Production!</h1>
<h2><%= @category ? "Showing Results for '#{@category.name}'" : "All Products" %></h2>

<%= form_tag("/products", method: :get) do %>
<div class="row">
  <div class="col-sm-3">
    <%= label_tag(:catergory_id, "Select a Product Category to search by:") %>    
  </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= select_tag(:category_id, options_from_collection_for_select(@categories, :id, :name, @catgeory ? @category_id : nil), prompt: "Select Product Category", class: "form-control") %>
      </div>    
    </div>
  <div class="col-sm-3">
  <%= submit_tag("Search", class: "btn btn-primary") %>    
  </div>
</div>
<% end %>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <% if product.image.attached? %>
          <%= image_tag(product.image , class: "card-img-top") %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text"><%= product.price_format %></p>
          <%= link_to("View Product In Store", "/products/#{product.id}", class: "btn btn-primary") %>
        </div>
      </div>
    </div>  
  <% end %>
</div>
