</div id="product-list">
<h1> Welcome to Plue's Plants!</h1>
<h2> Take a look at all of our products!</h2>

<%= form_tag("/products", method: :get) do %>
<%= label_tag(:catergory_id, "Select a Product Category to search by:") %>
  <%= select_tag(:category_id, options_from_collection_for_select(@categories, :id, :name), prompt: "Select Product Category") %>
  <%= submit_tag("Search") %>
  <br>
<% end %>

<% @products.each do |product| %>
  <div class="product">
    <h3><%= product.name%></h3>
    <p><%= product.price_format %></p>
    <%= link_to("/products/#{product.id}") do %>
      <%= image_tag(product.image_url) %>
    <% end %>
  </div>
<% end %>